Checks:
  - bugprone-*                        # Enable bugprone checks
  - performance-*                     # Enable performance checks
  - clang-analyzer-*                  # Enable clang-analyzer checks
  - cppcoreguidelines-*
  - cert-*                            # Enable CERT coding standards checks
  - readability-*
  - misc-const-correctness
  - misc-redundant-expression
  - misc-use-internal-linkage

  - -bugprone-easily-swappable-parameters
  - -cppcoreguidelines-avoid-non-const-global-variables
  - -readability-function-cognitive-complexity
  - -cppcoreguidelines-avoid-magic-numbers
  - -readability-magic-numbers

HeaderFilterRegex: '^(engine/|editor/).*'
