[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "lib/sdl2"]
	path = lib/sdl2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "lib/ctre"]
	path = lib/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions
